.navbar{
    background-color:black;
    color: white;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 0;
    padding: 4px;
    position: sticky; 
    width: 100%;
    top:0;
    /* position: relative; */
    z-index: 999;

}